@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 antialiased font-sans;
  }
}

@layer components {
  /* Toggle Switch */
  .toggle-switch {
    @apply relative inline-block w-11 h-6 flex-shrink-0;
  }
  
  .toggle-switch input {
    @apply opacity-0 w-0 h-0;
  }
  
  .toggle-slider {
    @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-gray-300 transition duration-300 rounded-full;
  }
  
  .toggle-slider:before {
    @apply absolute content-[''] h-5 w-5 left-[2px] bottom-[2px] bg-white transition duration-300 rounded-full shadow-sm;
  }
  
  input:checked + .toggle-slider {
    @apply bg-indigo-500;
  }
  
  input:focus + .toggle-slider {
    @apply ring-2 ring-indigo-500 ring-offset-2;
  }
  
  input:checked + .toggle-slider:before {
    transform: translateX(20px);
  }
}